<!-- <app-buying></app-buying> -->
<footer>
  <img class="logo" src="/assets/images/ShitaLogo.jpg" />
</footer>
<!-- <div class="pdf-container" [@slideIn]="triggerAnimation()">
  <pdf-viewer 
    [src]="pdfUrls[currentPdfIndex]" 
    [render-text]="true" 
    style="display: block;">
  </pdf-viewer>
</div> -->
<!-- <p-button  label="register" [rounded]="true" [text]="true" (onClick)="registerFunction(true)" />
<app-register [(visible)]="visible" ></app-register> 
<p-button  label="login" [rounded]="true" [text]="true" (onClick)="loginFunction(true)" /> -->
<app-login [(visible)]="visibleLogin" ></app-login> 
<router-outlet></router-outlet> 